.find-x {
  .below {
    display: block;
    margin-left: 4em;
  }

  .before {
    float: left;
    margin-top: 4em;
  }

  .middle {
    margin-left: 0.5em;
  }

  .x {
    position: absolute;
    left: 12em;
    margin-top: 4em;
  }
}
