<form class="pure-form">
  <div class="pure-g">
    <div class="island pure-u-1">
      <h1>Vraag 1</h1>

      <h3>Sinterklaasje kom maar binnen..</h3>
    </div>
    <div class="island pure-u-1">
      <select ng-model="question.myAnswer" required>
        <option value="">- Maak een keuze -</option>
        <option ng-repeat="answer in question.answers" value="{{answer}}">{{answer}}</option>
      </select>
      <div ng-show="question.error">
        <p>Dit is niet het juiste antwoord, probeer het nog eens</p>
      </div>
    </div>
    <div class="island pure-u-1">
      <input ng-click="question.next()" type="submit" value="Volgende" class="pure-button button-xlarge button-expanded button-piet">
    </div>
  </div>
</form>
