<form class="pure-form">
  <div class="pure-g">
    <div class="island pure-u-1">
      <h1>Vraag 3</h1>

      <h3>Wat is de oplossing van deze rebus?</h3>
    </div>
    <div class="island pure-u-1">
      <img src="assets/images/rebus.jpg" class="pure-img" alt="rebus">
    </div>
    <div class="island pure-u-1">
      <label>
        Oplossing
        <input class="pure-input-1" ng-model="question.myAnswer" type="text" required="">
      </label>

      <div ng-show="question.error">
        <p>Dit is niet het juiste antwoord, probeer het nog eens</p>
      </div>
    </div>
    <div class="island pure-u-1">
      <input ng-click="question.next()" type="submit" value="Volgende"
             class="pure-button button-xlarge button-expanded button-piet">
    </div>
  </div>
</form>
